{% extends 'base.html' %}

{% block title %}
  Scrumptious recipes
{% endblock title %}

{% block content %}
    <h1>Edit the recipe{{ post_object.title }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Save</button>
      </form>
    <footer>Made with love by Scrumptious Recipes</footer>
{% endblock %}
