{% extends 'base.html' %}

{% block title %}
  Scrumptious recipes
{% endblock title %}

{% block content %}
    <header>
      <nav>
        <a href="{% url 'recipe_list' %}">Main Page</a>
      {% if user.is_authenticated %}
        <a href="{% url 'create_recipe' %}">Create a recipe</a>
        <a href="{% url 'my_recipe_list' %}">My recipes</a>
      {% endif %}

        {% if user.is_authenticated %}
         Hello, {{ user.username }}
          <a href="{% url 'user_logout' %}">Logout</a>
        {% else %}
          <a href="{% url 'signup' %}">Sign up</a>
          <a href="{% url 'user_login' %}">Login</a>
        {% endif %}
      </nav>
    </header>
    <main>
      <h1>Scrumptious Recipes</h1>
      <h2>All the food that's fit to eat</h2>
      <div class="recipe-list">
        {% for recipe in recipe_list %}
        <div class="recipe-item">
            <h3>
            <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
            </h3>
            <img src="{{ recipe.picture }}">
            <p>{{ recipe.created_on|date:"F j, Y"}}</p>
            <div>{{ recipe_object.rating }}</div>
        </div>
        {% endfor %}
      </div>
    </main>
{% endblock content %}
