@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');



  html, body {
    padding:0;
    margin:0;
    height:100%;
    background-color: rgb(241, 239, 217);
  }


  main {
    padding: 16px;
  }

  footer {
    position: absolute; bottom: 0; left: 0; right: 0;
    padding: 20px;

  }

  img {
    height: 300px;
    box-sizing: border-box;
    padding: 8px;

  }

  nav {
    border-bottom: 1px solid black;
    padding: 16px;
  }


  .recipe-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px;
  }

  a{
    color:rgb(118, 49, 25);
    text-decoration: none;
  }

  h1{
    font-family: 'Gloock', sans-serif;
    font-size: 2.5em;
    text-align: center;
    letter-spacing: .05em;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    color:rgb(37, 83, 200);
  }

  h2 {
    font-family: 'Times New Roman', Times, serif;
    color:rgb(0, 0, 0);
    text-align: center;
    border: 4px solid rgb(255, 206, 169);
    border-style: dotted;
    box-shadow: 3px 3px #4018a7, -1em 0 .4em #d5ba0d;
  }

  footer {
    color:aliceblue;
    background-color: #d5ba0d;
  }

  nav {
    background-color:#49084a;
  }

  nav a {
    color: white;
    padding: 10px;
  }

  nav a:hover {
    color:rgb(0, 0, 0);
    transition: background-color 0.3s;
  }

  div a:hover {
    font-family: 'Kanit', sans-serif;
    color: rgb(37, 83, 200);
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    transition: background-color 0.8s;
  }

  tr {
    color:rgb(0, 0, 0)
  }

  ol {
    color:rgb(0, 0, 0)
  }

div {
  color:rgb(0, 0, 0)
}
